.wrap button{
    margin-left: 50px;
}
.wrap{
      display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto; 
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.FBTN{
    height: 30px;
    width: 150px;
    border-radius: 10px;
}
.FBTN.active{
    background-color: white;
    color: black;
}
